---
- name: Upgrade CockroachDB
  include_tasks: upgrade.yml
  when: cockroachdb_deployment_type == 'upgrade'

- name: install CockroachDB binary
  import_tasks: install.yml

- name: Configure OS for CockroachDB
  include_tasks: config_os.yml
  when: cockroachdb_deployment_type == 'standard'

- name: Ensure cockroachdb service is restarted
  ansible.builtin.systemd:
    name: cockroachdb
    state: restarted
    enabled: yes
    daemon_reload: yes
  when: cockroachdb_deployment_type != 'install only'

- name: Init Cluster
  run_once: yes
  shell: |
    cockroach init \
    {{ (cockroachdb_secure) | ternary(cockroachdb_secure_flag, cockroachdb_insecure_flag) }} \
    --host={{ cockroachdb_join[0] }}:{{ cockroachdb_port }}
  register: result
  failed_when: result.rc != 0 and 'cluster has already been initialized' not in result.stderr and 'unable to bootstrap due to internal error' not in result.stderr
  when: cockroachdb_deployment_type == 'standard'

- name: Pause between node upgrades
  ansible.builtin.pause:
    seconds: "{{ cockroachdb_upgrade_delay | default(300) }}"
  when: cockroachdb_deployment_type == 'upgrade'
  