{% for item in groups %}
{% if item not in ['all', 'ungrouped'] %}
[{{item}}]
{% for entry in groups[item] %}
{{ entry }} {{ hostvars[entry].cloud }} {{ hostvars[entry].region }}
{% endfor %}

{% endif %}
{% endfor %}