[Unit]
Description=Cockroach Database cluster node
Requires=network.target
[Service]
Type=notify
WorkingDirectory=/var/lib/cockroach
Environment="KRB5_KTNAME=/var/lib/cockroach/cockroach.keytab"
ExecStart=/usr/local/bin/cockroach start \
    {{ (cockroachdb_secure) | ternary(cockroachdb_secure_flag, cockroachdb_insecure_flag) }} \
    {% for store in cockroachdb_store %}
    --store={{ store }} \
    {% if cockroachdb_encryption %} {{ cockroachdb_encryption_flag }}=path={{store}},key=/var/lib/cockroach/ear-128.key,old-key={{ (cockroachdb_encryption_key_old is defined) | ternary(("/var/lib/cockroach/" + cockroachdb_encryption_key_old|default('')), "plain" )}} \
    {% endif %}
    {% endfor %}
    --listen-addr={{ cockroachdb_listen_addr }}:{{ cockroachdb_rpc_port }} \
    --advertise-addr={{ cockroachdb_advertise_addr }}:{{ cockroachdb_rpc_port }} \
    --sql-addr=:{{ cockroachdb_sql_port }} \
    --cache={{ cockroachdb_cache }} \
    --max-sql-memory={{ cockroachdb_max_sql_memory }} \
    --http-addr={{ cockroachdb_http_addr_ip }}:{{ cockroachdb_http_addr_port }} \
    {% for join in cockroachdb_join %}
    --join={{ join }}:{{ cockroachdb_rpc_port }} \
    {% endfor %}
    --locality={{ cockroachdb_locality }} \
    --attrs={{ cockroachdb_attrs }} \
    --max-offset={{ cockroachdb_max_offset }}
TimeoutStopSec=300
LimitNOFILE=65000
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=cockroach
[Install]
WantedBy=default.target
